@model PaginatedList<Czytelnia.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Przeglądaj</h2>

<p>
    <a asp-action="Create">Nowa książka</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-action="Index">Powrót do wszystkich wyników</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Tytuly"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tytul</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Autorzy"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Autor</a>
            </th>
            <th>
                Gatunek
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nazwisko)
                    @Html.DisplayFor(modelItem => item.Autor.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gatunek)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.BookID">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Poprzednia
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna
</a>
