@model Czytelnia.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuń czytelnika</h2>

<h3>Przed usunięciem upewnij się, że oddał wszystkie książki!</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zapisany_od)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zapisany_od)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
