@model Czytelnia.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Czytelnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zapisany_od)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zapisany_od)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                </tr>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tytul)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Zmień wypożyczenia i dane</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
