@model Czytelnia.Models.User

@{
    ViewData["Title"] = "Wypozycz";
}

<h2>Edycja wypożyczeń</h2>

<h4>Czytelnik</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Wypozycz">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Imie" />
            <input type="hidden" asp-for="Nazwisko" />
            <input type="hidden" asp-for="Zapisany_od" />
            <div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Imie)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nazwisko)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Imie)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Nazwisko)
                        </td>

                    </tr>
                </table>
            </div>
            <h4>Wypożyczone</h4>
            <div>
                <table class="table">
                    <tr>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Zwróc</th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tytul)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Autor.Imie)
                                @Html.DisplayFor(modelItem => item.Autor.Nazwisko)
                            </td>
                            <td>

                                <input type="checkbox"
                                       name="selectedBooks"
                                       value="@item.BookID" />

                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-default" />

                <a asp-action="Index">Powrót</a>

            </div>
            <h4>Dostępne</h4>
            <div class="form-actions no-color">
                <p>
                    Wyszukaj: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Szukaj" class="btn btn-default" />
                    
                </p>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Wypożycz</th>
                    </tr>
                    @foreach (var item in ViewBag.Books)
                    {
                        <tr>

                            <td>
                                @item.Tytul
                            </td>
                            <td>
                                @item.Autor.Nazwisko
                                @item.Autor.Imie
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="selectedBooks"
                                       value="@item.BookID" />
                            </td>

                        </tr>
                    }
                </table>
            </div>

        </form>
    </div>
</div>

<div class="form-group">
    <input type="submit" value="Zatwierdź" class="btn btn-default" />

    <a asp-action="Index">Powrót</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
